@charset "UTF-8";

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
    /* border: 1px solid red; */
    width: 960px;/* 720px */
    margin: 0 auto;
    background: url(../imagens/coluna.png) repeat-y left top #fff;
    min-width: 720px;
    max-width: 1280px;
}

#marca {
    color: white;
    width: 100%;
    height: 200px;
    background: #225992 url(../imagens/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

/* #imagem {
    width: 95%;
    overflow: hidden;
} */

#conteudo {
    /* border: 1px solid red; */
    width: 75%;/* 520px -> 75 */
    float: right;
}

#navegacao {
    /* border: 1px solid red; */
    width: 23%; /* 180px -> 25 */
    float: left;
    padding-bottom: 20px;
    padding-top: 20px;
   /*  background: #d1d1d1; */
}

#conteudo-principal {
    width: 63%; /* 320px -> 64 */
    float: left;
}

img.img-noticia {
    width: 94%;
    padding: 2%;
    max-width: 600px;
}

#conteudo-secundario {
    width: 34%; /* 180px -> 36 */
    float: right;
    background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;
}



#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}